* {
	color:#000;
	margin:0;
	padding:0;
}
p,a {
	font-family:Verdana, Helvetica, "Helvetica Neue", Arial, sans-serif;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6 {
	font-family:Umbra, Georgia, Palatino, "Palatino Linotype", serif;
	/*font-weight:normal;*/
	font-weight:bold;
}
	h1 {
		margin:15px 0 10px 0;
		font-size:36pt;
		/*font-weight:bold;*/
	}
	h2 {
		font-size:24pt;
		/*font-weight:bold;*/
		}
	h3 {
		font-size:16pt;
		margin:15px;
	}
	h4 {
		font-size:13pt;
		margin:15px;
	}
	h5 {
		font-size:12pt;
		margin:0 0 5px;
	}
#navig ul, #projects ul, #links ul {
	list-style:none;
}
#links li a {
	color:#000;
	display:inline-block;
	width:100%;
	height:40px;
}

html, body {
	background-color:#111;
	width:100%;
	margin:0 auto;
	height:100%;
}

header,footer {
	position:relative;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	width:100%;
}

header {
	background-color:#dedede;
	background-image:url("bg_header.jpg");
	background-position:top center;
	color:#dedede;
	font-weight:bolder;
	text-align:center;
	min-height:100%;
	border-bottom:1px solid #dedede;
}
	#navig {
		background:#111 url('bg_nav.jpg') 0 0 repeat-x;
		width:100%;
		height:27px;
		position:fixed;
		top:0;
		border-bottom:1px solid #dedede;
	}
	#navig ul {
		position:absolute;
		right:50px;
		top:2px;
	}
	#navig li {
		display:inline-block;
		font-weight:normal;
		text-align:center;
		width:75px;
		height:25px;
		padding:0 8px;
	}
	#navig li:first-child:before {
		content:none;
	}
	#navig li a {
		color:#fff;
	}
	#navig li:hover {
		background:#444;
	}

	header .caption {
		background:#dedede;
		opacity:0.65;
		position:absolute;
		bottom:45%;
		left:32%;
		right:32%;
	}
	header p {
		color:#dedede;
		position:absolute;
		bottom:5%;
		text-align:center;
		width:100%;
	}
		header p a {
		color:#dedede;
	}

/* Projects & Skills */
section {
	background:#dedede;
	color:#000;
	text-align:center;
	margin:10px 0 5px;
	padding:40px 10px 50px 10px;
}
section h2 {
	margin-bottom:15px;
}

/* Projects */
#projects li {
	background:#fff;
	display:inline-block;
	width:200px;
	height:150px;
	margin:10px;
	padding:5px;
	border:1px solid #111;
}
#projects li div {
	background:#444;
	opacity:0.75;
	color:#fff;
	font-size:0.8em;
	width:210px;
	height:75px;
	padding:5px 0 0;
	margin:-78px 0 0 -5px;
}
#projects p, #projects li div a {
	color:#fff;
	padding:4px;
}

/* Dog photo */
#dog {	
	background:#111 url("bg_dog.jpg") top center fixed;
	background-size:cover;
	min-width:90%;
	min-height:50%;
	border:1px solid #dedede;
}


/* Skills */
#skills {
	min-height:200px;
}
	#skills ul {
		text-align:left;
		font-family:Umbra, Georgia, Palatino, "Palatino Linotype", serif;
		margin:0 auto;
		list-style:circle;
		width:750px;
	}
	#skills li {
		font-weight:bold;
		display:inline-block;
		float:left;
		width:150px;
	}
	#skills ul.skill {
		font-family:Verdana, Helvetica, "Helvetica Neue", Arial, sans-serif;
		font-size:10pt;
		padding:0 1px;
		margin:0;
		width:140px;
		list-style:square inside;
	}
	#skills ul.skill li {
		font-weight:normal;
		display:list-item;
	}

footer {
	background-color:#111;
	background-image:url("bg_footer.jpg");
	background-position:bottom right;
	margin:0 auto;
	min-height:70%;
}
	footer p.scroll {
		color:#fff;
		background:#000;
		text-align:center;
		margin:0;
		padding:0 10px 10px;
		border-bottom:1px solid #dedede;
	}
	footer p a {
		font-weight:bolder;
		color:#dedede;
	}
	#contact {
		background:#000;
		position:absolute;
		right:10px;
		top:35px;
		width:24%;
		padding:0;
		margin:5px 0 0;
	}
	#contact h2, #contact h3 {
		color:#fff;
		padding:0;
		margin:0 0 10px;
	}
	#contact p {
		background:none;
		color:#fff;
		text-align:left;
		margin:0;
		padding:0;
		border-bottom:none;
	}
	#contact p a {
		color:#999;
	}
	#contact p {
		margin:5px 0;
	}
	#links li {
		display:inline-block;
		width:50px;
		height:35px;
		margin:10px 3px;
	}
	 
